## .NET
src/*/bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.idea/
*.swp
*~.nib
*.rsuser
*.DotSettings.user

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
._*

## Output
# output/

## Logs
*.log

## Graphviz
tools/Graphviz-*/
